# Node.js
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/
*.py[cod]

# Variables de entorno
.env
.env.*

# Bases de datos locales
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
